<ng-container *ngIf="allSpots">
  <div class="container pb-3">
    <div class="py-3 d-flex flex-wrap gap-3 justify-content-evenly">
      <div class="d-flex flex-column">
        <p class="text-dark">
          {{ "Total spots:" + allSpots.totalSpots | uppercase }}
        </p>
        <p class="text-dark">
          {{ "Total regular spots:" + allSpots.regularSpots | uppercase }}
        </p>
        <p class="text-dark">
          {{ "total reserved Spots: " + allSpots.reservedSpots | uppercase }}
        </p>
      </div>

      <div class="d-flex flex-column">
        <p class="text-success">
          {{ "free Regular Spots :" + allSpots.freeRegularSpots | uppercase }}
        </p>
        <p class="text-danger">
          {{
            "occupied Regular Spots: " + allSpots.occupiedRegularSpots
              | uppercase
          }}
        </p>
        <p class="text-info">
          {{ "free Reserved Spots: " + allSpots.freeReservedSpots | uppercase }}
        </p>
        <p class="text-warning">
          {{
            "occupied Reserved Spots: " + allSpots.occupiedReservedSpots
              | uppercase
          }}
        </p>
      </div>
    </div>
    <div class="py-3 d-flex flex-row flex-wrap gap-4" *ngIf="allSpots">
      <div
        *ngFor="let spot of getRange(allSpots.totalSpots)"
        class="rounded"
        style="width: 80px; height: 80px"
        [ngClass]="getSpotStatusClass(spot)"
      ></div>
    </div>
  </div>
</ng-container>
