<ng-container *ngIf="log">
  <div class="container my-3 bg-3 text-center">
    <div class="d-flex flex-start">
      <button class="btn btn-secondary" routerLink="../">Go Back</button>
    </div>
    <h1 class="margin">{{ log.code }}</h1>

    <div class="row my-5 align-items-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>Check In</h3>
        <p>
          {{ log.checkInTime | date : "medium" }}
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>Check Out</h3>
        <ng-container *ngIf="log.checkOutTime !== null; else carIsInside">
          <p>
            {{ log.checkOutTime | date : "medium" }}
          </p>
        </ng-container>
        <ng-template #carIsInside>
          <p>Car Is Still Inside</p>
        </ng-template>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>Price</h3>
        <ng-container *ngIf="log.checkOutTime !== null; else noPriceYet">
          <p>
            {{ log.price | currency : "EUR" }}
          </p>
        </ng-container>
        <ng-template #noPriceYet><p>Price Will Be Evaluated</p></ng-template>
      </div>
      <ng-container *ngIf="log.subscriptionId">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="col-md-6">
            <h3>Subscription Id</h3>
            <p>
              {{ log.subscriptionId }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
