<div class="container my-3">
  <div class="d-flex justify-content-around">
    <button
      type="submit"
      class="btn btn-info mb-3"
      (click)="logCreationMode = true"
      *ngIf="!logCreationMode"
    >
      Check In
    </button>

    <ng-container *ngIf="logCreationMode">
      <form
        [formGroup]="newLog"
        (ngSubmit)="createLog(); logCreationMode = false"
      >
        <mat-form-field class="example-full-width">
          <mat-label>Subscription Id</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="subscriptionId"
            matInput
            formControlName="subscriptionId"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of subscriptionOptions"
              [value]="option.id"
            >
              {{ option.id }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button type="submit" class="btn btn-success mx-3">Add Log</button>
        <button
          type="button"
          class="btn btn-secondary mx-3"
          (click)="logCreationMode = false"
        >
          Cancel
        </button>
      </form>
    </ng-container>
  </div>

  <div class="table-responsive">
    <table class="table table-hover" *ngIf="allLogs; else noLogs">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Check In</th>
          <th scope="col">Price</th>
          <th scope="col">View Details</th>
          <th scope="col">Checkout</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of allLogs">
          <td>{{ log.code }}</td>
          <td>{{ log.checkInTime | date : "medium" }}</td>

          <ng-container *ngIf="log.checkOutTime !== null; else noPriceYet">
            <td>{{ log.price | currency : "EUR" }}</td>
          </ng-container>

          <td>
            <button class="btn btn-light" [routerLink]="[log.code]">
              View Details
            </button>
          </td>

          <ng-container *ngIf="!log.checkOutTime; else carIsCheckedOut">
            <td>
              <button
                class="btn btn-danger"
                type="button"
                (click)="checkOut(log.code)"
              >
                Check Out
              </button>
            </td>
          </ng-container>

          <ng-template #carIsCheckedOut>
            <td>
              <button class="btn btn-danger" disabled="true">
                Checked Out
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="alert alert-success my-5 position-fixed top-0 start-0"
  role="alert"
  *ngIf="isSuccessShown"
>
  {{ successMessage }}
</div>

<div
  class="alert alert-danger my-5 position-fixed top-0 start-0"
  role="alert"
  *ngIf="isDangerShown"
>
  {{ errorMessage }}
</div>

<ng-template #noLogs>No Logs</ng-template>

<ng-template #noPriceYet><td>Price Will Be Evaluated</td></ng-template>
