<div class="container my-5">
  <button
    type="submit"
    class="btn btn-light mb-3"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    Check In
  </button>

  <table class="table" *ngIf="allLogs; else noLogs">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Check In</th>
        <th scope="col">Check Out</th>
        <th scope="col">Price</th>
        <th scope="col">Checkout</th>
        <th scope="col">View Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of allLogs">
        <td>{{ log.code }}</td>
        <td>{{ log.checkInTime | date : "medium" }}</td>

        <ng-container *ngIf="log.checkOutTime !== null; else carIsInside">
          <td>{{ log.checkOutTime | date : "medium" }}</td>
        </ng-container>

        <ng-template #carIsInside>
          <td>Car is Inside</td>
        </ng-template>

        <ng-container *ngIf="log.checkOutTime !== null; else noPriceYet">
          <td>{{ log.price | currency : "EUR" }}</td>
        </ng-container>

        <ng-template #noPriceYet>
          <td>Price Will Be Evaluated</td>
        </ng-template>

        <ng-container *ngIf="!log.checkOutTime; else carIsCheckedOut">
          <td>
            <button class="btn btn-warning" (click)="updateLog(log.code)">
              Check Out
            </button>
          </td>
        </ng-container>

        <ng-template #carIsCheckedOut>
          <td>
            <button class="btn btn-warning" disabled="true">Checked Out</button>
          </td>
        </ng-template>

        <td>
          <button class="btn btn-light" [routerLink]="[log.code]">
            View Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-success my-5" role="alert" *ngIf="isSuccessShown">
    Car Checked In
  </div>

  <div class="alert alert-danger my-5" role="alert" *ngIf="isDangerShown">
    Error
  </div>
</div>

<ng-template #noLogs>No Logs atm</ng-template>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Add Subscriber
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newLog" (ngSubmit)="createLog()">
          <div class="form-group">
            <label for="subscriptionId">Subscriber ID</label>
            <input
              type="email"
              class="form-control"
              formControlName="subscriptionId"
            />
          </div>
          <button type="submit" class="btn btn-success mt-3">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
