<div class="container my-5">
  <table class="table" *ngIf="allLogs; else noLogs">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Check In</th>
        <th scope="col">Check Out</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of allLogs">
        <td>{{ log.code }}</td>
        <td>{{ log.checkInTime | date : "medium" }}</td>
        <td>{{ log.checkOutTime | date : "medium" }}</td>
        <th>{{ log.price | currency : "EUR" }}</th>
      </tr>
    </tbody>
  </table>

  <form [formGroup]="newLog" (ngSubmit)="createLog()">
    <button type="submit" class="btn btn-success" (click)="showAlert()">
      Add Log
    </button>
  </form>

  <div class="alert alert-success my-5" role="alert" *ngIf="isAlertShown">
    This is a success alert—check it out!
  </div>
</div>

<ng-template #noLogs>No Logs atm</ng-template>
