<div class="container my-3">
  <button type="button" class="btn btn-info mb-3" routerLink="new">
    Add Subscription
  </button>

  <div class="table-responsive">
    <table
      class="table table-hover"
      *ngIf="allSubscriptions; else noSubscriptions"
    >
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Subscriber Id</th>
          <th scope="col">View Details</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subscription of allSubscriptions">
          <td>{{ subscription.code }}</td>
          <td>{{ subscription.subscriberId }}</td>
          <td>
            <button class="btn btn-light" [routerLink]="[subscription.id]">
              View Details
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(subscription.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noSubscriptions>No Subscriptions atm</ng-template>
