<ng-container *ngIf="subscription">
  <div class="container my-5 bg-3 text-center">
    <h1 class="margin">
      {{ subscription.code }}
    </h1>

    <div class="row my-5 align-items-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>subscriberId</h3>
        <p>
          {{ subscription.subscriberId }}
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>price</h3>
        <p>
          {{ subscription.price }}
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>startDate</h3>
        <p>
          {{ subscription.startDate | date : "medium" }}
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>endDate</h3>
        <p>
          {{ subscription.endDate | date : "medium" }}
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h3>discountValue</h3>
        <p>
          {{ subscription.discountValue }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
