<div class="container my-3">
  <div class="table-responsive">
    <table class="table" *ngIf="pricingPlans; else noPlans">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Hourly Pricing</th>
          <th scope="col">Daily Pricing</th>
          <th scope="col">Minimum Hours</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of pricingPlans">
          <td>{{ plan.type | uppercase }}</td>
          <td>{{ plan.hourlyPricing | currency : "EUR" }}</td>
          <td>{{ plan.dailyPricing | currency : "EUR" }}</td>
          <td>{{ plan.minimumHours }}</td>
          <td>
            <button class="btn btn-warning">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noPlans>No Plans Currently</ng-template>
